.App {
  text-align: center;
}

.App a{
    color: blue;
}

.App a:visited {
    color: blue;
    text-decoration: none;
}

.App-header {
  background-color: #222;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
}

.App-intro {
  font-size: large;
}

.Article-button {
    background-color: #2377ff;
    border: 2px solid #2377ff;
    color: white;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    min-width: 50%;
    font-size: 1.2em;
}

.Article-button:hover {
    border: 2px solid #2377ff;
    background-color: white;
    color: black;
}

.App-footer{
    position:absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 1%;
    text-align: center;
    font-size: small;
}

.Button-skip {
    background-color: lightgreen;
    border: 0;
    border-radius: 15px;
    padding-bottom: 2%;
    padding-top: 2%;
    min-width: 50%;
    font-size: 1.1em;
    cursor: pointer;
}

.Button-disabled {
    background-color: #e3e3e3;
}

.Language-select {
    border: 0;
    position: absolute;
    right: 0;
}

.Score-label {
    color: lightgreen;
    transition: font-size 0.3s;
    font-size: 1.3em;
}

.Score-animate {
    font-size: 1.4em;
    transition: font-size 0.3s;
}

.Status-bar {
    font-size: 1.2em;
    width: 100%;
}

.Highscore-label {
    position: absolute;
    left: 0;
}

.Target-label {
    font-size: 1.1em;
}

.Title-label {
    font-size: 1.2em;
}