.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding-top: 5%;
  padding-bottom: 10%;
  color: white;
}

.App-intro {
  font-size: large;
}

.Article-button {
    background-color: #2377ff;
    color: white;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    cursor: pointer;
}

.App-footer{
    position:absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 1%;
    text-align: center;
    font-size: small;
}
