body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.footer{
    position:absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 1%;
    text-align: center;
    font-size: small;
    color: white;
}

.footer a{
    color: white;
    text-decoration: underline;
}